.cart-item-mobile {
  margin: 24px 0;

  &__data {
    padding-bottom: 10px;
    align-items: center;
  }

  &__main {
    display: flex;
    align-items: center;
    padding-bottom: 24px;

    @media screen and (min-width: 767px) {
      column-gap: 8px;
    }
  }

  &__image {
    // width: 75px;
    // height: 75px;
    margin-right: 16px;
    // box-sizing: content-box;
    width: 25%;

    @media screen and (min-width: 767px) {
      width: 40px;
      height: 40px;
    }

    img {
      display: inline-block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    width: 75%;

    @media screen and (min-width: 767px) {
      max-width: 140px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 140%;
    padding-bottom: 8px;

    @media screen and (min-width: 767px) {
      font-size: 16px;
    }
  }

  &__price {
    width: 16px;

    @media screen and (min-width: 767px) {
      font-size: 14px;
    }
  }

  &__qty-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__qty {
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding-bottom: 24px;

    span {
      font-size: 16px;
      min-width: 18px;
      text-align: center;
    }
  }

  &__price {
    text-align: right;
    color: var(--white-color);
    margin-left: auto;
  }

  &__note {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-left: auto;
    }
  }

  &__note-input {
    width: 240px;
    color: var(--lighter-text-color);
  }
}

.cart-test {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__calc {
    display: flex;
    align-items: center;
    column-gap: 8px;

    span {
      font-size: 16px;
    }
  }

  &__cost {
    font-size: 16px;
  }
}

.cart-item-mobile__calc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.cart-item-mobile__buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;

  span {
    display: block;
    width: 20px;
    font-size: 16px;
    text-align: center;
  }
}

.cart-item-mobile__cost {
  font-size: 16px;
}