.cart-item-mobile {
  margin: 24px 0;

  &__data {
    padding-bottom: 10px;
    align-items: center;
  }

  &__main {
    display: flex;
    align-items: center;
    padding-bottom: 24px;

    @media screen and (min-width: 767px) {
      column-gap: 8px;
    }
  }

  &__image {
    // width: 75px;
    // height: 75px;
    margin-right: 16px;
    // box-sizing: content-box;
    width: 30%;

    @media screen and (min-width: 767px) {
      width: 40px;
      height: 40px;
    }

    img {
      display: inline-block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    width: 70%;

    @media screen and (min-width: 767px) {
      max-width: 140px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 140%;
    padding-bottom: 8px;

    @media screen and (min-width: 767px) {
      font-size: 16px;
    }
  }

  &__price {
    width: 16px;

    @media screen and (min-width: 767px) {
      font-size: 14px;
    }
  }

  &__qty-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__qty {
    // width: 48px;
    // height: 48px;
    // background-color: var(--form-bg-color);
    // border-radius: 8px;
    // border: 1px solid var(--dark-line-color);
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // color: var(--white-color);
    // margin-left: auto;
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding-bottom: 24px;

    span {
      font-size: 18px;
      min-width: 18px;
      text-align: center;
    }
  }

  &__price {
    text-align: right;
    color: var(--white-color);
    margin-left: auto;
  }

  &__cost {
    width: 50%;
  }

  &__note {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;

    button {
      margin-left: auto;
    }
  }

  &__note-input {
    width: 100%;
    color: var(--lighter-text-color);
  }
}

.btn-incr,
.btn-decr {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: var(--dark-bg-color-1);
  color: var(--white-color);
  font-size: 16px;
  line-height: 140%;
  border: 1px solid var(--dark-line-color);
}