.order-report {
  width: 100%;
  border-radius: 8px;
  background-color: var(--dark-bg-color-2);
  padding: 24px;

  &__table {

  }

  &__table-header {
    display: grid;           
    grid-template-columns: 1.2fr 1fr 1fr 0.8fr;
    column-gap: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--dark-line-color);
}

&__content {
    row-gap: 24px;
}
}
