.add-new-dish {
    width: 221px;
    height: 299px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  row-gap: 22px;
  border: 1px dashed var(--primary-color);
   border-radius: 8px;

  svg {
    width: 20px;
    stroke: var(--primary-color);
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--primary-color);
    
  }
}
