.search {
    position: relative;
    width: 100%;

    &__input {
        width: 100%;

        @media screen and (min-width: 767px) {
            min-width: 220px;
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        z-index: 10000;

        display: flex;
        align-items: center;

        svg {
            width: 18px;
            height: 18px;
            fill: var(--white-color);
        }

        span {
            padding-left: 8px;
            font-size: 12px;
            line-height: 140%;
            color: var(--light-text-color);
        }
    }
}

input[type="search"] {
    // position: relative;

    // &::placeholder {
    //     // padding-left: 25px;
    //     background: url(images/search.svg) no-repeat;
    //     display: flex;
    //     align-items: center;

    //     position: absolute;
    //     top: 50%;
    //     left: 10px;
    //     transform: translateY(-50%);
    //     z-index: 1000;

    //     // text-indent: 10px;
    // }
}