.sidebar {
  width: 104px;
  height: 100vh;
  position: fixed;

  background-color: var(--dark-bg-color-2);

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.logo {
    padding: 24px;
}

.nav {
    position: relative;
    margin-top: 10px;
    border-left: 10px solid var(--dark-bg-color-2);
}

.nav-wrapper {
    position: relative;
    margin-top: 16px;
    border-left: 2px solid var(--dark-bg-color-2);
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.nav__item {
    position: relative;
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: transparent;
   
    border-left: 12px solid var(--dark-bg-color-2);
    border-top: 12px solid var(--dark-bg-color-2);
    border-bottom: 12px solid var(--dark-bg-color-2);

    svg {
        width: 24px;
      fill: var(--primary-color);
    }
}

.nav__item.active {
    background-color: var(--dark-bg-color-1);
    border-left: 12px solid var(--dark-bg-color-1);
    border-top: 12px solid var(--dark-bg-color-1);
    border-bottom: 12px solid var(--dark-bg-color-1);
}

.nav__link {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item.active .nav__link {
    width: 56px;
    height: 56px;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);

    svg {
        fill: var(--white-color);
    }
}

.nav__item.active .nav__link::before {
    content: '';
    position: absolute;
    bottom: -42px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--dark-bg-color-1);
}
.nav__item.active .nav__link::after {
    content: '';
    position: absolute;
    top: -42px;
    right: 0;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--dark-bg-color-1);
}


.logout {
  width: 56px;
  height: 56px;
  margin-top: auto;

  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 0;

  svg {
      width: 24px;
    fill: var(--primary-color);
  }
}
