.payment {
    width: 100%;
    height: calc(100vh - var(--bottom-navbar-height));
    padding: 22px 33px;
    background-color: var(--dark-bg-color-2);
    border-radius: 16px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    margin-top: auto;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;


    @media screen and (min-width: 767px) {
        width: 405px;
        height: 100vh;
        padding: 24px;

    }

    &__head {

        border-bottom: 1px solid var(--dark-line-color);

        @media screen and (min-width: 767px) {
            padding-top: 40px;
            padding-bottom: 24px;

        }
    }

    &__title {
        font-size: 28px;
        line-height: 140%;
        font-weight: 500;
        padding-bottom: 8px;
    }

    &__text {
        color: var(--light-text-color);
    }

    &__submit {
        width: 100%;
        margin-top: auto;

    }
}

.payment-method {

    &__title {
        padding-top: 24px;
        padding-bottom: 16px;
    }
}