.sidebar-mobile {
    width: 100%;
    height: 89px;
    background-color: var(--dark-bg-color-2);
    overflow: hidden;

    position: fixed;
    bottom: 0;
    z-index: 10000;

    &__sidebar-mobile__inner {
        height: 100%;
    }
}

.sidebar-mobile-nav-wrapper {
    height: 100%;
}

.sidebar-mobile-nav {
    height: 89px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.sidebar-mobile-nav__item {
    height: 100%;
    padding-top: 19px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 12px solid var(--dark-bg-color-2);
    border-right: 12px solid var(--dark-bg-color-2);

    position: relative;

    svg {
        width: 22px;
        fill: var(--primary-color);
    }
}

.sidebar-mobile-nav__item.active {
    background-color: var(--dark-bg-color-1);
    border-left: 12px solid var(--dark-bg-color-1);
    border-right: 12px solid var(--dark-bg-color-1);
}

.sidebar-mobile-nav__link {
    width: 51px;
    height: 51px;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-mobile-nav__item.active .sidebar-mobile-nav__link {
    width: 51px;
    height: 51px;
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);

    svg {
        fill: var(--white-color);
    }
}

.sidebar-mobile-nav__item.active .sidebar-mobile-nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: -42px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px -15px var(--dark-bg-color-1);
}

.sidebar-mobile-nav__item.active .sidebar-mobile-nav__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: -42px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px -15px 0 var(--dark-bg-color-1);
}

.sidebar-mobile-nav__icon {
    position: relative;
}

.quantity-badge {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-size: 10px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 13px;
    bottom: 33px;
    z-index: 10000;
}

.sidebar-mobile-nav__item.active .quantity-badge {
    background-color: var(--white-color);
    color: var(--primary-color);
}