.tabs-wrapper {
    width: 330px;
    height: 32px;
    overflow: hidden;
}

.tabs {
    width: 100%;
    height: auto;
    // width: 100%;
    display: flex;
    column-gap: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--dark-line-color);
    overflow-x: scroll;
    border: 1px dotted green;

    @media screen and (min-width: 767px) {
        width: 100%;
        column-gap: 32px;

    }

    &__link {
        white-space: nowrap;


        @media screen and (min-width: 767px) {
            cursor: pointer;
        }

        @media screen and (min-width: 1441px) {
            font-size: 16px;
        }
    }

    &__link.active {
        color: var(--primary-color);
        position: relative;

        &::after {
            content: "";
            width: 37px;
            height: 3px;
            background-color: var(--primary-color);
            position: absolute;
            bottom: -12px;
            left: 0;
        }
    }
}